.alt-header {
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}

/* 정중앙을 맞추기 위해 첫번째와 마지막 자식에 마진을 오토로  줌  */
.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
}
